---
const pathname = decodeURIComponent(Astro.url.pathname || ""); // 解码 URL
const postName = pathname?.split("/").pop(); // 获取文章名称
---

<!-- Open Graph 标签 -->
<meta property="og:title" content={postName || "默认标题"} />

<!-- Twikoo comment -->
<div id="tcomment"></div>
<script>
    // 引入 twikoo
    import twikoo from "twikoo";
    // 引入 twikoo 的样式
    import "twikoo/dist/twikoo.css";
    function initTwikoo() {
        // 初始化twikoo
        twikoo({
            envId: "https://twikoo-cloudflare.lamia.workers.dev",
            el: "#tcomment",
            lang: "zh-CN",
        }).then(() => {
            // 这里主要用来调试
            console.log("comment loading success");
        });
    }

    // 这里两个事件绑定很重要，有时候就是路由的时候无法加载twikoo
    document.addEventListener("astro:after-swap", () => initTwikoo(), {
        once: false,
    });
    document.addEventListener("astro:page-load", () => initTwikoo(), {
        once: false,
    });

    initTwikoo();
</script>

<!-- 标题 -->
<h2 class="mb-10 before:hidden"></h2>